<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hb.invest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".invest.activities.SpalshActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".invest.activities.LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.ForgotPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.ExchangeRateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.MobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.BundleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.ElectricityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.LandLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.WaterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.PayTvActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.DomesticTaxesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.CouncilBillsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.CardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.EmailVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.ManualPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.SucessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.BasicInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.AddWalletBeneficiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.AddUtilityBeneficiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.SendMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.UtilityBenificiaryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.AddWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invest.activities.MTNPaymentActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>